@import "mixins";

.row {
  a:hover {
    text-decoration: underline;
  }
}

.from {
  display: flex;
  align-items: center;
  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  svg {
    flex-shrink: 0;
    margin-left: 20px;
  }
}

.table {
  @include tablet {
    overflow-x: scroll;
    & > table {
      width: 1200px;
    }
  }
  @include mobile {
    margin: 0 -24px;
  }
}

.timeCell {
  width: 220px;
}

.valueCell,
.sourceCell {
  width: 115px;
}
