@import 'mixins';

.row {
  a:hover {
    text-decoration: underline;
  }
}

.from {
  display: flex;
  align-items: center;
  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  svg {
    flex-shrink: 0;
    margin-left: 20px;
  }
}

.pagination {
  position: sticky;
  bottom: 5px;
  text-align: right;
  @include mobile {
    bottom: 70px;
  }
}
.table {
  @include mobile {
    overflow-y: scroll;
    margin: 0 -24px;
  }
}
.protocolCell {
  width: 120px;
}
.ageCell {
  width: 140px;
}
