$baseFont: 'Rubik', sans-serif;

$bg: linear-gradient(180deg, #1b0d2f 0%, #0c0417 100%);
$light: #e1ccff;
$light2: #a287ca;

$grey-dawn: #1b0d2f;
$grey-dawn-b1: #140824;
$grey-dawn-b2: #0c0417;
$grey-dawn-w1: #281741;
$grey-dawn-w2: #3f2a5d;
$grey-dawn-w3: #5f4681;
$grey-dawn-w4: #7f67a0;
$impossibly-pink: #f53568;
$impossibly-pink-b1: #cb2954;
$impossibly-pink-b2: #9f2041;
$impossibly-pink-b3: #7e1632;
$impossibly-pink-b4: #670f26;
$impossibly-pink-w1: #ff618b;
$impossibly-pink-w2: #ff88a8;
$impossibly-pink-w3: #ffbacd;
$impossibly-pink-w4: #ffd1de;
$minty-green: #37cb8d;
$minty-green-b1: #2bb47a;
$minty-green-b2: #219966;
$minty-green-b3: #1b7c53;
$minty-green-b4: #13593b;
$minty-green-w1: #53eaaa;
$minty-green-w2: #82f7c5;
$minty-green-w3: #adfbda;
$minty-green-w4: #d0ffeb;
$perfect-white: #ffffff;
$perfect-white-b1: #efeaf6;
$perfect-white-b2: #dad0e8;
$perfect-white-b3: #baaccf;
$perfect-white-b4: #a38fc0;
$sunkissed-orange: #fd9369;
$sunkissed-orange-b1: #f57b4b;
$sunkissed-orange-b2: #df6839;
$sunkissed-orange-b3: #c75223;
$sunkissed-orange-b4: #9d3c15;
$sunkissed-orange-w1: #ffab8b;
$sunkissed-orange-w2: #ffc0a7;
$sunkissed-orange-w3: #ffd2c0;
$sunkissed-orange-w4: #ffe4d9;
$violet-sky: #7234c8;
$violet-sky-b1: #4e238e;
$violet-sky-b2: #351661;
$violet-sky-b3: #290f4d;
$violet-sky-b4: #1c0937;
$violet-sky-w1: #9056e4;
$violet-sky-w2: #b280f9;
$violet-sky-w3: #d3b7fb;
$violet-sky-w4: #eee3ff;

$modal-width: 434px;

// Shadows
$grounded: 0 4px 8px 0 rgba(12, 4, 23, 0.4);
$lowly: 0 8px 20px 0 rgba(12, 4, 23, 0.67);
$midway: 0 12px 28px 0 rgba(12, 4, 23, 0.74);
$lofty: 0 16px 36px 0 rgba(12, 4, 23, 0.88);
$highest: 0 20px 48px 0 #0c0417;
