@import "colors";
@import "vars";
@import "mixins";

.head {
  margin-bottom: 48px;
  & > div:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  & > div:last-child {
    overflow-wrap: break-word;
  }
}

.blockId {
  background-color: $violet-sky;
  padding: 0 10px;
  box-shadow: $lowly;
  border-radius: 2px;
  margin-right: 16px;
}

.spec {
  li {
    display: flex;
    align-items: baseline;
    margin-bottom: 16px;
    div:first-child {
      width: 56px;
      flex-shrink: 0;
      margin-right: 42px;
    }
  }
}

.list {
  display: flex;
  margin: 113px auto 60px;
  & > div {
    width: 100%;
  }
}
