@import 'mixins';

.row {
  cursor: pointer;
}

.pagination {
  position: sticky;
  bottom: 5px;
  text-align: right;
  @include mobile {
    bottom: 70px;
  }
}

.table {
  @include tablet {
    overflow-x: scroll;
    & > table {
      width: 700px;
    }
  }
  @include mobile {
    margin: 0 -24px;
  }
}
