@import "mixins";

.row {
  cursor: pointer;
}

.pagination {
  position: sticky;
  bottom: 5px;
  text-align: right;
  @include mobile {
    bottom: 70px
  }
}

.table {
  @include mobile {
    overflow-y: scroll;
    margin: 0 -24px;
  }
}
