@import "~styles/vars";

.root {
  width: 100%;
  max-width: 725px;
  margin-left: auto;
  display: flex;
  & > label {
    flex-grow: 1;
  }
}

.btn {
  width: 56px;
  height: 56px;
  border-radius: 4px;
  background: $violet-sky;
  border: none;
  margin-left: -5px;
  position: relative;
  z-index: 1 ;
}
