@import "vars";
@import "colors";
@import "mixins";

.root {
  width: 100%;
  max-width: 725px;
  margin-left: auto;
  display: flex;
  & > label {
    flex-grow: 1;
  }
  @include mobile {
    width: auto;
  }
}

.btn {
  width: 56px;
  height: 56px;
  border-radius: 4px;
  background: $violet-sky;
  border: none;
  margin-left: -5px;
  position: relative;
  z-index: 1 ;
  @include mobile {
    width: 36px;
    height: 36px;
    svg {
      width: 15px;
      height: 15px;
    }
  }
}

.input {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  @include mobile {
    display: none;
  }
}
