@import "vars";
@import "~styles/mixins";

.nav {
  margin-top: 50px;
  @include mobile {
    display: flex;
    margin-top: 0;
    justify-content: space-around;
    height: 100%;
    align-items: center;
  }
}
.link {
  display: block;
  text-align: center;
  height: 65px;
  margin-bottom: 16px;
  text-decoration: none;
  &:hover {
    .linkLabel {
      opacity: 1;
      visibility: visible;
    }
  }
  svg {
    opacity: .48;
  }
  @include mobile {
    height: auto;
    margin-bottom: 0;
  }
}
.active {
  svg {
    opacity: 1;
  }
}
.linkLabel {
  font-size: 10px;
  font-weight: 500;
  opacity: 0;
  margin-top: 2px;
  color: rgba($light, .86);
  visibility: hidden;
  @include mobile {
    opacity: 1;
    visibility: visible;
  }
}

.navLogo {
  @include mobile {
    display: none;
  }
}
