@import "~styles/vars";

.nav {
  margin-top: 50px;
}
.link {
  display: block;
  text-align: center;
  height: 65px;
  margin-bottom: 16px;
  text-decoration: none;
  &:hover {
    .linkLabel {
      opacity: 1;
      visibility: visible;
    }
  }
  svg {
    opacity: .48;
  }
}
.active {
  svg {
    opacity: 1;
  }
}
.linkLabel {
  font-size: 10px;
  font-weight: 500;
  opacity: 0;
  margin-top: 2px;
  color: rgba($light, .86);
  visibility: hidden;
}
