@import "mixins";

.root {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  margin-top: -70px;
  @include mobile {
    margin-top: 0;
  }
  img {
    margin-bottom: 70px;
  }
}

.title {
  margin-bottom: 8px;
}
