@import 'colors';
@import 'vars';
@import 'mixins';

.top {
  display: flex;
  padding-top: 20px;
  @include tablet {
    flex-direction: column;
  }
}
.left {
  flex: 1;
}
.right {
  flex: 3;
  height: 350px;
  margin-left: 54px;
  border-radius: 16px;
  overflow: hidden;
  @include tablet {
    margin-left: 0;
  }
}
.cards {
  display: flex;
  flex-wrap: wrap;
  @include mobile {
    margin-bottom: 16px;
  }
}

.card {
  height: 72px;
  width: 100%;
  padding: 0 20px;
  max-width: 236px;
  min-width: 236px;
  margin-bottom: 36px;
  box-shadow: $lofty;
  background-color: $violet-sky-b3;
  border: 1px solid $violet-sky-b1;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mobile {
    max-width: 100%;
    margin-bottom: 16px;
  }
  & > div {
    display: flex;
    align-items: baseline;
    & > *:first-child {
      margin-right: 12px;
    }
  }
  &:first-child {
    margin-right: 59px;
    @include mobile {
      margin-right: 0;
    }
  }
}

.title {
  padding-left: 8px;
  border-bottom: 1px solid $grey-dawn-w2;
  margin-bottom: 21px;
}
.nodes {
  margin-top: 48px;
  thead {
    @include tablet {
      display: none;
    }
  }
}
.table {
  th {
    white-space: nowrap;
    padding: 20px 44px;
    @include mobile {
      padding: 20px 24px;
    }
  }
}
.leaderboard {
  table {
    width: 100%;
  }
  td {
    padding: 20px;
    span:first-child {
      margin-right: 8px;
    }
    &:first-child {
      //width: 1px;
    }
    &:last-child {
      //width: 1px;
      text-align: right;
      white-space: nowrap;
      @include mobile {
        display: none;
      }
    }
  }
}
.row {

  td {
    padding: 20px 44px;
    max-width: 100%;
    white-space: nowrap;
    @include mobile {
      padding: 20px 24px;
    }
    &:nth-child(2) {
      width: 100%;
      text-align: left;
    }
    div {
      display: inline-block;
    }
  }
}
.status {
  text-transform: capitalize;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
.statusMark {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  border: 1px solid $grey-dawn-w1;
  margin-bottom: 2px;
  @include mobile {
    margin-bottom: 0;
  }
  &.BUSY {
    background-color: $minty-green;
  }
  &.IDLE {
    background-color: $sunkissed-orange;
  }
  &.OFFLINE,
  &.NEW {
    background-color: $grey-dawn-b2;
  }
}

.marker {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $sunkissed-orange;
}

.tooltip {
  font-size: 12px;
  line-height: 1.2;
  background-color: $perfect-white;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: 0.4rem;
  padding: 0.8rem;
  transition: opacity 0.3s;
  z-index: 2147483647;
}

.self {
  font-size: 24px;
  color: $perfect-white;
  &::before {
    content: '•'
  }
}